@model EmpleadoViewModel
@{
    ViewData["Title"] = "Editar Empleado";
}
<div class="card-body">
    <form method="post" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input class="form-control" id="inputPK" asp-for="emp.Id" placeholder="123" />
                <label asp-for="emp.Id"></label>
                <span asp-validation-for="emp.Id" class="text-danger"></span>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-floating mb-3 mb-md-0">
                        <input class="form-control" id="inputNombre" asp-for="emp.Nombre" placeholder="Nombre" />
                        <label asp-for="emp.Nombre"></label>
                        <span asp-validation-for="emp.Nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input class="form-control" id="inputApellido"asp-for="emp.Apellido" placeholder="Apellido" />
                        <label asp-for="emp.Apellido"></label>
                        <span asp-validation-for="emp.Apellido" class="text-danger"></span>
                    </div>
                </div>
            </div>
             <div class="form-floating mb-3">
                <input class="form-control" id="inputCod" asp-for="emp.Codigo" placeholder="2022xxxxxxx" min="0" max="9999999999" maxlength="10" />
                <label asp-for="emp.Codigo"></label>
                <span asp-validation-for="emp.Codigo" class="text-danger"></span>
             </div>
             <div class="form-floating mb-3">
                <select asp-for="emp.Rol" asp-items="Model.listaRoles">

                </select>
                <span asp-validation-for="emp.Rol" class="text-danger"></span>
                                    
             </div>
             <div class="form-floating mb-3">
                <select asp-for="emp.Sede" asp-items="Model.listaSedes">

                </select>
                <span asp-validation-for="emp.Sede" class="text-danger"></span>
                                    
             </div>
             <div class="mt-4 mb-0">
                <div class="d-grid"><button class="btn btn-primary btn-block" action="submit">Guardar Empleado</button></div>
             </div>
    </form>
</div>