@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card-body">
    <form>
        <div class="form-group">
            <label for="identificador">Identificador</label>
            <input type="text" class="form-control" id="identificador" placeholder="123" min="0" max="999" maxlength="3">
        </div>
        <div class="form-group">
            <label for="nombreEmpleado">Nombre</label>
            <input type="text" class="form-control" id="nombreEmpleado" placeholder="Juan Carlos">
        </div>
        <div class="form-group">
            <label for="apellidoEmpleado">Apellido</label>
            <input type="text" class="form-control" id="apellidoEmpleado" placeholder="Sanchez Garzon">
        </div>
        <div class="form-group">
            <label for="numeroEmpleado">Nomero de identificacion</label>
            <input type="text" class="form-control" id="numeroEmpleado" placeholder="2018xxxxxxx">
        </div>
        <div class="form-group">
            <label for="rolEmpleado">Rol del empleado</label>
            <select class="form-control" id="inputRol">
                <option disabled selected>Selecciona una opcion</option>
                <option value="Administrador">Administrador Deportivo</option>
                <option value="Director">Director Deportivo</option>
                <option value="Fisioterapeuta">Fisioterapeuta</option>
                <option value="Entrenador">Entrenador Deportivo</option>
                <option value="Auxiliar">Auxiliar Deportivo</option>
                <option value="Docente">Docente</option>
            </select>
        </div>
        <div>
            <label for="sedeEmpleado">Sede del empleado</label>
            <select class="form-control" id="inputRol">
                <option disabled selected>Selecciona una sede</option>
                <option value="Administrador">La 40</option>
                <option value="Director">La maca</option>
                <option value="Fisioterapeuta">La tecno</option>
                <option value="Entrenador">Bosa</option>
                <option value="Auxiliar">La ASAB</option>
            </select>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>