@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid px-4">
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Crear Cargo</h3></div>
                        <div class="card-body">
                            <form>
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="inputIdentificador" type="text" placeholder="123" min="0" max="999" maxlength="3" />
                                    <label for="inputIdentificador">Identificador del Cargo</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="inputCargo" type="text" placeholder="Nombre del cargo" />
                                    <label for="inputCargo">Nombre del Cargo</label>
                                </div>
                                <div class="mt-4 mb-0">
                                    <div class="d-grid"><a class="btn btn-primary btn-block" href="#">Crear Cargo</a></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
