@model Rol
@{
    ViewData["Title"] = "Editar Empleado";
}
<div class="card-body">
    <form method="post" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating mb-3">
            <input class="form-control" id="inputIdentificador" asp-for="Id" maxlength="3" />
            <label asp-for="Id">Identificador del Cargo</label>
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="inputCargo" asp-for="Descripcion" placeholder="Nombre del cargo" />
            <label asp-for="Descripcion">Nombre del Cargo</label>
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>
        <div class="mt-4 mb-0">
            <div class="d-grid"><button class="btn btn-primary btn-block" action="submit">Guardar Cargo</button></div>
            </div>
    </form>
</div>