@{
    ViewData["Title"] = "Tipo Empleado";
}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Lista de roles
    </div>
    <div class="card-body">
        <table class="table">
            <thead align="center">
                <tr>
                    <th>Identificador</th>
                    <th>Nombre del cargo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody align="center">
                <tr>
                    <td>123</td>
                    <td>Tiger Nixon</td>
                    <td>
                        <a href="editarRol.html" class="btn">
                            <i class="fa-solid fa-file-pen"></i>
                        </a>
                        <a class="btn">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>123</td>
                    <td>Tiger Nixon</td>
                    <td>
                        <a href="editarRol.html" class="btn">
                            <i class="fa-solid fa-file-pen"></i>
                        </a>
                        <a class="btn">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>123</td>
                    <td>Tiger Nixon</td>
                    <td>
                        <a href="editarRol.html" class="btn">
                            <i class="fa-solid fa-file-pen"></i>
                        </a>
                        <a class="btn">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>